:root {
    --orange: #f7a854;
    --dark: #03060f;
    --grey: #30353b;
    --darkest: #020203;
    --light: #e4e8f5;
    --white: #f2f3f5;
    --red: #db463b;
}

* {
    margin: 0;
    list-style: none;
}

body {
    font-family: sans-serif;
    background: var(--light);
}

header {
    display: inline;
    width: 100%
}

.content {
    padding-top: 0.2rem;
}

.content .title {
    position: absolute;
    margin-left: 1.5rem;
}

.content .title img {
    height: 2.2rem;
    vertical-align: top;
    padding-top: 0.2rem;
}

.content .title h2 {
    font-size: 2.5rem;
    display: inline-block;
    padding-left: 2px;
}

.content .sign {
    position: absolute;
    right: 0;
    text-align: right;
    margin-right: 2rem;
}

input,
button,
select {
    border: none;
    outline: none;
    background: none;
}

.content .sign button {
    display: inline;
    position: relative;
    flex: 1 1 0%;
    border-radius: 1.7rem;
    background: var(--dark);
    color: var(--white);
    font-size: 1.5rem;
    padding: 1rem;
}
.content button:hover {
    background: var(--white);
    color: var(--dark);
    transform: scale(1.04);
}



.container {
    background-image: url("pictures/back.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.container .input-address {
    box-sizing: inherit;
    margin-left: 15rem;
    margin-right: 13rem;
}

.input-address .kind-of {
    justify-content: center;
    padding-top: 20rem;
    padding-bottom: 1.2rem;
    font-size: 1.3rem;
    align-content: center;
}

.input-address .kind-of h1 {
    padding: 6px 8px;
    box-sizing: border-box;
    width: 70%;
    margin-bottom: 0rem;
}

#input-your-address {
    display: inline;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    background: rgb(224, 216, 193);
    font-size: 2rem;
    padding: 1rem;
    margin-right: 0.5rem;
}

select {
    font-size: 2rem;
    background: rgb(224, 216, 193);
    padding: 1rem;
}

select {
    font-size: 2rem;
    background: rgb(224, 216, 193);
    padding: 1rem;
}

.main-content .start {
    padding-top: 16px;
    justify-content: center;
    padding-bottom: 2rem;
    margin-top: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    column-fill: auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.main-content {
    padding-bottom: 5rem;
}

.main-content .start .first {
    background-image: url("pictures/delivery.jpg");
    height: 300px;
    background-position: center;
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content .start .second {
    background-image: url("pictures/dinings.jpg");
    height: 300px;
    background-position: center;
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content .start .third {
    background-image: url("pictures/takeout1.jpg");
    height: 300px;
    background-position: center;
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content img:hover {
    transform: scale(1.04);
}

.main-content .start h3 {
    padding-top: 7rem;
    display: block;
    font-size: 25px;
    font-weight: 800;
    color: black;
    text-align: center;
    width: 100%;
}

.start h4 {
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

.main-content .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    margin-left: 2rem;
    margin-right: 2rem;
    column-fill: auto;
    width: 95%;
    object-fit: cover;
}

.cont a img {
    padding-top: 10px;
    width: 100%;
    height: 400px;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 1rem;
}

.cont img:hover {
    transform: scale(1.03);
}

.cont h3 {
    text-align: center;
}

.new-head {
    font-size: 2rem;
    margin-left: 2rem;
}

footer {
    background: var(--white);
    color: var(--darkest);
    padding: 30px 0px 40px;
}

footer .end-head {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.3rem;
}

footer .end {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

footer .end ul {
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: 0;
    line-height: 2em;
    list-style: none;
}

footer .end ul li {
    display: block;
    text-align: -webkit-match-parent;
}

footer .end .social ul li {
    display: inline;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
@media only screen and (max-width:700px){
    .container {
        height: 500px ;
        width : 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 2.5rem;
        padding-bottom: 1.5rem;
    }
    .content {
        padding-top: 0.1rem;
    }

    .content .title {
        position: absolute;
        margin-left: 0.7rem;
    }

    .content .title img {
        height: 2rem;
        vertical-align: top;
        padding-top: 0.4rem;
    }
    .content .title h2 {
    font-size: 2.5rem;
    display: inline-block;
    padding-left: 2px;
    }

    .content .sign {
        position: absolute;
        right: 0;
        text-align: right;
        margin-right: 3px;
    }
    .content .sign button {
    display: block;
    border-spacing: 2px;
    position: relative;
    flex: 1 1 0%;
    width: 6rem;
    height: 3rem;
    margin: 2px;
    margin-right: 2px;
    border-radius: 4px;
    background: var(--dark);
    color: var(--white);
    font-size: 1rem;
    padding: 1rem;
}
    .container .input-address {
    box-sizing: inherit;
    margin-left: 3rem;
    margin-right: 3rem;
}

    .input-address .kind-of {
        justify-content: center;
        padding-top: 8.5rem;
        padding-bottom: 0.8rem;
        font-size: 1.3rem;
    }

    .input-address .kind-of h1 {
        font-size: 2rem;
        box-sizing: border-box;
        width: 70%;
        margin-bottom: 0rem;
    }

    #input-your-address {
        display: inline-block;
        box-sizing: border-box;
        justify-content: center;
        align-content: center;
        background: rgb(224, 216, 193);
        font-size: 2rem;
        padding: 1rem;
        margin-right: 0.5rem;
    }
    .input-address input,select{
        display: block;
        height: 5rem ;
        width: 110% ;
        margin: 3px;
    }

    .main-content{
        width: 100%;

    }
    .main-content .start {
        display: block;
        width: 95%;
        margin-right: 10px;
        margin-left: 10px;
        }
    .main-content .start .first {
        height: 200px;
        margin-top: 5px;
        border-radius: 1.4rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
     .main-content .start .second{
        height: 200px;
        border-radius: 1.4rem;
        margin-top: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

     }
    .main-content .start .third{
        height: 200px;
        border-radius: 1.4rem;
        margin-top: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }
    .main-content .start h3 {
        padding-top: 4.2rem;
        display: block;
        font-size: 25px;
        font-weight: 800;
        color: black;
        width: 100%;
    }

        .main-content .content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        margin-left:10px ;
        margin-right: 10px;
        column-fill: auto;
        width: 95% ;
        object-fit: cover;
        }
    .main-content {
        padding-bottom: 5rem;
    }
    footer .end-head {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1rem;
}  
    footer .end {
        margin-right: 20px;
        margin-left: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

}
    .content .popup {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(1.25);
    top: 40%;
    left: 50%;
    width: 300px;
    padding: 20px 30px;
    background: var(--white);
    box-shadow: 2px 2px 3px 5px rgba(0, 0, 0, 0.14);
    transition: top 1ms ease-in-out 0ms, opacity 200msms ease-in-out 200ms, transform 150ms ease-in-out 200ms;
}
    .content .popup-sign {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    background: var(--white);
    transform: translate(-50%, -50%) scale(1.25);
    top: 40%;
    left: 50%;
    width: 300px;
    padding: 20px 30px;
    box-shadow: 2px 2px 3px 5px rgba(0, 0, 0, 0.14);
    transition: top 1ms ease-in-out 0ms, opacity 200msms ease-in-out 200ms, transform 150ms ease-in-out 200ms;
}
